.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.logo-link{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #000000;
text-decoration: none;
}

.Web{
    color: #2196F3;
}

.nav-list{
    list-style-type: none;
    font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}

.nav-list a{
    text-decoration: none;
    color: #212121;
}

.nav-list a:hover{
    color:#2196F3 ;
}

.contact-list a{
    text-decoration: none;
}

.contact-list{
    list-style: none;
}

.contact-list-a{
    color:#757575
}

.contact-list-a:hover{
    color:#2196F3;
}

.hero{
    background: #2F303A;
}

.hero-title{
    color:#FFFFFF
}

.features{
    list-style: none;
}

.h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
width: 270px;
height: 16px;
}

.p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
width: 270px;
height: 48px;
}

.work-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
width: 366px;
height: 42px;
}

.team-ul{
    list-style: none;
}
 
.h5 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.p2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

.footer{
    background:#2F303A ;
}

.logo-link1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

.Web1{
color:#2196F3;
}

.studio1{
    color:#FFFFFF;
}

.footer-ul{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em
}

.ul-p{
    color:#FFFFFF;
}

.ul-a{
color: rgba(255, 255, 255, 0.6);
}